<h1 class="header">Stupid Coaching</h1>
<div class="question">
  <h1> <%= @question %></h1>
  <h1>- You</h1>
</div>
<div class="answer">
  <h1> <%= @answer %></h1>
  <h1>- Your Coach</h1>
</div>
<a class="link"> <%= link_to 'Ask a new question', ask_path %> </a>
