// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$gray: #F4F4F4;

 body {
   background: $gray; // Using this variable
 }

.banner {
   text-align: center;
   padding: 100px;
 }

.question {
  background: white;
  padding: 10px;
  border-left: 6px #90908E solid;
}

.question h1 {
  font-size: 30px;
  font-weight: 6;
}

.answer {
  background: #FEFFA5;
  padding: 10px;
  border-left: 6px #90908E solid;
}

.answer h1 {
  font-weight: 6;
  font-size: 30px;
}

.header {
  padding:10px;
  font-weight: 10;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: #227C9D;
}
